.hero{
  background-image: url(../img/banner.avif);
  height: 608px; 
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.hero_list{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;

  li{
    background-color: rgb(245, 250, 250);
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1px solid orangered;
    padding-bottom: 10px;
  }

  img{
    width: 60%;
    margin: 10px;
  }
}

.infobar_list{
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(151, 142, 142);
  padding: 12px;
  color: #004797;
  font-size: 14px;


  li{
      cursor: pointer;
      border-right: 2px dashed rgb(206, 205, 205);
      padding-right: 50px;
  }
}