
.nav{
  width: 100%;
  background-color: #004797;
  padding-bottom: 10px;
}

.nav div{
  border: 1px solid white;
}

.navbar{
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: repeat(2, 1fr);
  margin: 0 10%;
  }


.navbar .logo{
  grid-row: 1 / 3 ;
  padding: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  img{
    width: 60%;
  }
}

.navbar .mainnav{
  grid-column: 2/4;

  ul{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: end;
    color: white;
    align-items: center;

    li{
      font-size: 14px;
      cursor: pointer;

    }
  }
}

.hyper
{
  background-color: rgb(169, 195, 212);
  color: rgb(1, 73, 133);
  padding: 12px;
  border-radius: 0 0 8px 8px;
  transition: 0.3s;
}

.hyper:hover{
  background-color: aliceblue;
}

.navbar .search{
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;

  input{
    width: 90%;
    height: 70%;
    border-radius: 5px;
    border: none;
    padding: 10px;
  }
}

.navbar .user{
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;

  .button1, .button2{
    display: flex;
    flex-direction: column;

    i{
      font-size: 25px;
      color: white;
      text-align: center;
    }

    p {
      font-size: 12px;
      padding-top: 5px;
      color: white;
    }
  }

  p{
    color: white;
    padding: 8px;
  }

}
