
.navbar{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: #004797;
  }

.navbar div{
  background-color: aqua;
  border: 1px solid blue;
}

.navbar .logo{
  grid-row: 1 / 3 ;
  padding: 20px;
}

.navbar .mainnav{
  grid-column: 2 / 4;

}

.navbar .search{
  grid-row: 2 / 3;
}

.navbar .user{
  grid-row: 2 / 3;
}
